# Đọc dữ liệu

In [23]:
import pandas as pd
import numpy as np
df=pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding='ISO-8859-1' )
display(df)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
df.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

# Bộ dữ liệu chứa bao nhiêu dòng, bao nhiêu cột

In [56]:
print(f"""Bộ dữ liệu chứa số hàng là: {df.shape[0]}, 
Bộ dữ liệu chứa số cột là: {df.shape[1]}""")

Bộ dữ liệu chứa số hàng là: 7381,
Bộ dữ liệu chứa số cột là: 8

# Kiểm tra thông tin bộ dữ liệu

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

# Thang đo tương ứng của các thuộc tính được lưu trữ

1. Place, ProductName, UmName: có kiểu object --> dữ liệu định danh Norminal
2. ProductId, UmId, Month, Year: có kiểu số nguyên(int64) mô tả mã số sả phẩm mã số của đơn vị đo lường,
tháng và năm quan sát. \
Những thuộc tính này dùng để định danh, phân biệt ==> dữ liệu định danh Norminal
3. Price: mô tả thông tin đếm được, làm được các phép cộng, trừ, nhân, chia, có số'0' tuyệt đối ==> thang đo Ratio

# Giá trung bình của từng loại thực phẩm là bao nhiêu

In [6]:
df_by_Productname=df.groupby('ProductName')
mean_price=df_by_Productname['Price'].aggregate(np.mean)
print (f"Giá trung bình của từng loại thực phẩm : {mean_price}")

Giá trung bình của từng loại thực phẩm : ProductName
Apples (red) - Retail                                       2.392193
Apples - Retail                                             3.885039
Bananas - Retail                                            8.224784
Beans (white) - Retail                                      9.572830
Bread (common) - Retail                                     4.463293
Bread (pita) - Retail                                       2.404545
Bulgur - Retail                                             3.516712
Cabbage - Retail                                            1.723395
Cauliflower - Retail                                        3.274868
Cheese - Retail                                            25.522875
Chickpeas - Retail                                         10.347860
Cocoa (powder) - Retail                                    43.802339
Coffee (instant) - Retail                                  43.295493
Coffee - Retail                                            42.468075
Cucumbers (greenhouse) - Retail                             2.206807
Cucumbers - Retail                                          3.411326
Eggplants - Retail                                          3.882645
Eggs - Retail                                               0.505925
Electricity - Retail                                        0.513580
Fish (fresh) - Retail                                      22.698257
Fuel (gas) - Retail                                        83.976703
Fuel (petrol-gasoline) - Retail                             8.592519
Garlic - Retail                                            16.610370
Groundnuts (shelled) - Retail                              21.832122
Lentils - Retail                                            6.651817
Meat (chicken) - Retail                                     9.683471
Meat (mutton) - Retail                                     45.557209
Meat (veal) - Retail                                       41.270904
Milk (pasteurized) - Retail                                 3.679687
Milk (powder, infant formula) - Retail                    108.287696
Oil (olive) - Retail                                       27.274547
Oil (sunflower) - Retail                                    8.755174
Onions - Retail                                             2.141539
Oranges - Retail                                            3.124280
Pasta - Retail                                              3.496637
Peas (green, dry) - Retail                                  2.900029
Potatoes - Retail                                           2.297231
Rice - Retail                                               7.950325
Salt - Retail                                               2.048213
Spinach - Retail                                            3.240587
Sugar - Retail                                              4.482942
Tea (green) - Retail                                        4.137000
Tea (herbal) - Retail                                       5.434838
Tea - Retail                                               26.224393
Tomatoes (paste) - Retail                                   8.085128
Tomatoes - Retail                                           3.393658
Transport (public) - Retail                                 2.468031
Wage (non-qualified labour, non-agricultural) - Retail     40.548182
Water - Retail                                              5.384253
Wheat flour - Retail                                        3.253174
Yogurt - Retail                                             5.364898
Zucchini - Retail                                           3.837423
Name: Price, dtype: float64

# Đề xuất những loại phân tích mà bạn muốn biết mà bộ dữ liệu này có thể cung cấp

## Các loại sản phẩm được bán tại bao nhiêu địa điểm

In [10]:
df.Place.value_counts()

National Average    2633
Istanbul            1583
Izmir               1583
Ankara              1582
Name: Place, dtype: int64

## Bao nhiêu loại sản phẩm được bán ra

In [11]:
df.ProductName.value_counts()

Rice - Retail                                             174
Onions - Retail                                           174
Milk (pasteurized) - Retail                               174
Meat (veal) - Retail                                      174
Fish (fresh) - Retail                                     174
Tea - Retail                                              174
Bulgur - Retail                                           174
Bananas - Retail                                          174
Wheat flour - Retail                                      174
Oil (olive) - Retail                                      174
Salt - Retail                                             174
Oil (sunflower) - Retail                                  174
Meat (mutton) - Retail                                    174
Chickpeas - Retail                                        174
Coffee - Retail                                           174
Pasta - Retail                                            174
Beans (white) - Retail                                    174
Eggs - Retail                                             174
Meat (chicken) - Retail                                   174
Sugar - Retail                                            174
Garlic - Retail                                           174
Lentils - Retail                                          174
Cocoa (powder) - Retail                                   174
Bread (common) - Retail                                   174
Tomatoes - Retail                                         174
Groundnuts (shelled) - Retail                             174
Fuel (gas) - Retail                                       154
Tomatoes (paste) - Retail                                 154
Potatoes - Retail                                         154
Cheese - Retail                                           154
Yogurt - Retail                                           154
Milk (powder, infant formula) - Retail                    154
Eggplants - Retail                                        154
Fuel (petrol-gasoline) - Retail                           154
Coffee (instant) - Retail                                 150
Apples - Retail                                           132
Cucumbers - Retail                                        132
Zucchini - Retail                                         132
Tea (herbal) - Retail                                     132
Water - Retail                                            132
Electricity - Retail                                      132
Transport (public) - Retail                               131
Oranges - Retail                                          122
Cabbage - Retail                                           93
Cauliflower - Retail                                       85
Spinach - Retail                                           75
Cucumbers (greenhouse) - Retail                            42
Tea (green) - Retail                                       42
Apples (red) - Retail                                      42
Wage (non-qualified labour, non-agricultural) - Retail     22
Bread (pita) - Retail                                      22
Peas (green, dry) - Retail                                  7
Name: ProductName, dtype: int64

## Những loại sản phẩm được bán ra tại từng địa điểm

In [33]:
df[df['Place']=='National Average']

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
2628,National Average,502,Cocoa (powder) - Retail,5,KG,8,2019,48.0926
2629,National Average,502,Cocoa (powder) - Retail,5,KG,9,2019,49.9713
2630,National Average,502,Cocoa (powder) - Retail,5,KG,10,2019,51.8067
2631,National Average,502,Cocoa (powder) - Retail,5,KG,11,2019,51.9768
2632,National Average,502,Cocoa (powder) - Retail,5,KG,12,2019,52.2251

In [34]:
df[df['Place']=='Istanbul']

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
4215,Istanbul,52,Rice - Retail,5,KG,1,2017,6.6842
4216,Istanbul,52,Rice - Retail,5,KG,2,2017,7.0574
4217,Istanbul,52,Rice - Retail,5,KG,3,2017,7.3779
4218,Istanbul,52,Rice - Retail,5,KG,4,2017,7.4358
4219,Istanbul,52,Rice - Retail,5,KG,5,2017,7.3825
...,...,...,...,...,...,...,...,...
5793,Istanbul,502,Cocoa (powder) - Retail,5,KG,8,2019,50.1113
5794,Istanbul,502,Cocoa (powder) - Retail,5,KG,9,2019,51.9505
5795,Istanbul,502,Cocoa (powder) - Retail,5,KG,10,2019,54.8237
5796,Istanbul,502,Cocoa (powder) - Retail,5,KG,11,2019,54.1230
5797,Istanbul,502,Cocoa (powder) - Retail,5,KG,12,2019,54.8022

In [35]:
df[df['Place']=='Izmir']

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
5798,Izmir,52,Rice - Retail,5,KG,1,2017,6.8621
5799,Izmir,52,Rice - Retail,5,KG,2,2017,6.9848
5800,Izmir,52,Rice - Retail,5,KG,3,2017,7.3413
5801,Izmir,52,Rice - Retail,5,KG,4,2017,7.3891
5802,Izmir,52,Rice - Retail,5,KG,5,2017,7.5318
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [36]:
df[df['Place']=='Ankara']

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
2633,Ankara,52,Rice - Retail,5,KG,1,2017,6.1241
2634,Ankara,52,Rice - Retail,5,KG,2,2017,6.3395
2635,Ankara,52,Rice - Retail,5,KG,3,2017,6.6029
2636,Ankara,52,Rice - Retail,5,KG,4,2017,6.6108
2637,Ankara,52,Rice - Retail,5,KG,5,2017,6.7359
...,...,...,...,...,...,...,...,...
4210,Ankara,502,Cocoa (powder) - Retail,5,KG,8,2019,46.0957
4211,Ankara,502,Cocoa (powder) - Retail,5,KG,9,2019,48.1878
4212,Ankara,502,Cocoa (powder) - Retail,5,KG,10,2019,49.8763
4213,Ankara,502,Cocoa (powder) - Retail,5,KG,11,2019,50.4306
4214,Ankara,502,Cocoa (powder) - Retail,5,KG,12,2019,50.6097

## Sản phẩm nào được bán tại National Average bán vào tháng 1, năm 2014

In [50]:
df[(df['Year']==2014 ) & (df['Place']=='National Average')& (df['Month']==1)]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
70,National Average,58,Wheat flour - Retail,5,KG,1,2014,2.3921
136,National Average,66,Beans (white) - Retail,5,KG,1,2014,9.5418
248,National Average,92,Eggs - Retail,33,Unit,1,2014,0.3749
314,National Average,94,Meat (chicken) - Retail,5,KG,1,2014,7.1261
380,National Average,97,Sugar - Retail,5,KG,1,2014,3.6472
446,National Average,105,Garlic - Retail,5,KG,1,2014,8.7832
512,National Average,108,Lentils - Retail,5,KG,1,2014,3.8733
578,National Average,112,Pasta - Retail,5,KG,1,2014,2.4672
644,National Average,114,Tomatoes - Retail,5,KG,1,2014,2.3364
710,National Average,119,Groundnuts (shelled) - Retail,5,KG,1,2014,12.7125
776,National Average,124,Bread (common) - Retail,5,KG,1,2014,2.9964
842,National Average,151,Coffee - Retail,5,KG,1,2014,31.2607
908,National Average,173,Onions - Retail,5,KG,1,2014,1.0073
974,National Average,176,Tea (green) - Retail,33,Unit,1,2014,3.7486
1014,National Average,181,Cabbage - Retail,5,KG,1,2014,1.1632
1052,National Average,183,Meat (mutton) - Retail,5,KG,1,2014,26.0474
1118,National Average,184,Oil (sunflower) - Retail,15,L,1,2014,6.0587
1184,National Average,185,Salt - Retail,5,KG,1,2014,1.4751
1250,National Average,209,Coffee (instant) - Retail,33,Unit,1,2014,39.5101
1323,National Average,229,Apples (red) - Retail,5,KG,1,2014,1.9203
1363,National Average,231,Cauliflower - Retail,5,KG,1,2014,1.8719
1399,National Average,233,Cucumbers (greenhouse) - Retail,5,KG,1,2014,2.3745
1441,National Average,239,Oil (olive) - Retail,15,L,1,2014,11.1859
1507,National Average,244,Chickpeas - Retail,5,KG,1,2014,5.8407
1573,National Average,254,Bananas - Retail,5,KG,1,2014,4.1107
1639,National Average,258,Bulgur - Retail,5,KG,1,2014,2.4838
1705,National Average,281,Tea - Retail,5,KG,1,2014,15.2072
1955,National Average,360,Oranges - Retail,5,KG,1,2014,1.5142
2093,National Average,401,Fish (fresh) - Retail,5,KG,1,2014,13.8939
2229,National Average,433,Meat (veal) - Retail,5,KG,1,2014,25.9381
2411,National Average,463,Milk (pasteurized) - Retail,15,L,1,2014,2.4969
2571,National Average,502,Cocoa (powder) - Retail,5,KG,1,2014,38.5402

In [ ]:
Month_1[Month_1['Place']=='National Average']

## Trong một năm giá bán các sản phẩm tháng nào cao nhất, thấp nhất của địa điểm National Average